@model Padanian_Bank.Models.Account

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Account</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AccountId" />
            <div class="form-group">
                <label asp-for="Desc" class="control-label"></label>
                <span asp-validation-for="Desc" class="text-danger"></span>
                <select name="Type" id="Desc">
                    <option value="Salary">Salary</option>
                    <option value="Investor">Investor</option>
                    <option value="Savings">Savings</option>
                    <option value="Business">Business</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@if (User.IsInRole("Customer"))
{
    <div>
        <a asp-action="Index">Back to MyAccounts</a>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}