@{
    ViewData["Title"] = "Transaction Error";
}
<h1>@ViewData["Title"]</h1>

<p>
    The transaction you tried to make has failed because an error occured, please try again.
</p>

<div>
    <a asp-action="Index">Back to List</a>
</div>