@{
    ViewData["Title"] = "Transaction Error";
}
<h1>@ViewData["Title"]</h1>

<p>
    The transaction you tried to make has failed because an error occured, please try again.
</p>

@if (User.IsInRole("Customer"))
{
    <div>
        <a asp-action="Index">Back to MyAccounts</a>
    </div>
}