@{
    ViewData["Title"] = "Transaction Error";
}
<h1>@ViewData["Title"]</h1>

<p>
    The transaction you tried to make has failed because an error occured. Please enter funds that are more than zero or a the correct AccountId.
</p>

<div>
    <a asp-action="Index">Back to List</a>
</div>