@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to Padanian bank, if you want to create a new account or see your accounts, please click on "My Accounts".</p>
</div>