@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Your email and password are stored in our database, we do not share your sensitive information and only use what is
    necessary for our website to function.
</p>
